.header {
  width: 10%;
  padding: 0;

  border-right: 5px solid white;
  background: lightgray;

  h1 {
    margin: 0;
    padding: 10px;

    background: black;

    font-size: 14pt;
    color: white;
  }

  .router-link {
    display: inline-flex;
    width: 100%;
    padding: 10px 15px;
    margin: 0;

    border-bottom: 1px solid darkgray;

    color: black;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;

    user-select: none;
    cursor: pointer;
    outline: 0;

    &:hover {
      background: #41addd;
      color: #fff;
    }
  }
}
