.navigator {
  width: 200px;
  padding: 0;

  border-right: 5px solid white;
  background: lightgray;

  h1 {
    margin: 0;
    padding: 10px;

    background: black;

    font-size: 14pt;
    color: white;
  }

  h2 {
    margin: 0;
    padding: 5px 10px;

    background: gray;

    font-size: 12pt;
    color: white;
  }

  a {
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 0;

    border-bottom: 1px solid darkgray;

    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10pt;

    user-select: none;
    cursor: pointer;
    outline: 0;

    &:hover {
      background: #41addd;
      color: #fff;
    }
  }
}
