footer {
  display: flex;
  flex-flow: column;

  width: 100%;
  height: 100%;
  padding: 0;

  h1 {
    flex: 0 1 auto;

    margin: 0;
    padding: 10px;

    background: black;

    font-size: 14pt;
    color: white;
  }

  .sidebar-content {
    flex: 1 1 auto;
    display: grid;
    grid-template: "toolbar settings" / 40px 1fr;

    .sidebar-toolbar {
      grid-area: toolbar;
      display: block;

      background: gray;
    }

    .sidebar-settings {
      grid-area: settings;

      background: lightgray;
    }
  }
}
