.app {
  display: flex;
  flex-flow: row;

  height: 100vh;
  margin: 0;
  padding: 0;

  background: gray;

  .content {
    flex: 1 1 auto;
  }

  .left {
    flex: 0 0 200px;

    box-sizing: border-box;
    border-right: 2px solid black;
  }

  .right {
    flex: 0 0 200px;

    box-sizing: border-box;
    border-left: 2px solid black;
  }
}
