svg {
  .grid-cell {
    fill: white;
    stroke: black;
  }

  .grid-cell:hover {
    fill: #a0a0a0;
  }

  .grid-group {
    // fill: #8080ff;
    stroke-width: 0;
  }

  .grid-group:hover {
    fill: #a0a0ff;
  }

  .grid-selected {
    fill: #ff8080;
    stroke-width: 0;
  }

  .grid-selected:hover {
    fill: #ffa0a0;
  }
}
