svg {
  rect.grid-cell {
    fill: white;
    stroke: black;
  }

  rect.grid-cell:hover {
    fill: #80ff80;
  }

  rect.grid-cell-selected {
    fill: #ff8080;
  }

  rect.grid-cell-selected:hover {
    fill: #ffff80;
  }
}
